// spacing
$primary-space: 1rem;
$title-primary-space: 2rem;
$half-primary-space: 1rem;
$left-space-large: 4rem;
$left-space-medium: 2rem;
$left-space-small: 0.5rem;

//colors
$background-app: rgb(251, 251, 251);
$background-primary: rgb(255, 255, 255);
$primary-text-grey: #808080;
$shadow-grey: rgba(160, 160, 160, 0.1);
$primary-green: rgb(43, 141, 55);

//filters
$orange-primary: invert(59%) sepia(71%) saturate(617%)
  hue-rotate(355deg) brightness(99%) contrast(92%);